*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.campo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 120px;
}

label{
    width: 100px;
    font-weight: bold;
    flex: 0 0 120px
}

input{
    flex: 1;
}