*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS, Arial, sans-serif;
}

.contenedor{
    align-items: center;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    color: #000;
    width: 60%;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

li{
    background-color: #aefff1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
}

.lista-ejercicios{
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body{
    background-color: beige;
    font-family: Arial, sans-serif;
}

.lista-ejercicios li:hover{
    background-color: #ffbcb3;
    transition: 0.3s;
    transform: scale(1.1);
}

h1{
    text-align: center;
    margin-top: 40px;
    color: #000;
}