*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
}

.item {
    flex: 1 1 calc(25% - 10px);
    min-width: 200px;
}

.item img {
    width: 100%;
    border-radius: 8px;
}
