*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    background-color: lightgray;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.tarjeta button {
    align-self: flex-start;
}

.lista-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
